/* @font-face {
    font-family: 'Black Rocker';
    src: local('Black Rocker'), url('../fonts/blackrocker.ttf') format('ttf');
} */
  
/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Pixelify+Sans:wght@400;600&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');


body{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-image: linear-gradient(to right bottom, #3b4cca, #b537b1, #ef3487, #ff5e5b, #ff9237, #ff9c2b, #fda61b, #fab100, #f29000, #e86d00, #db4600, #cc0000);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    font-family: 'Pixelify Sans', Arial, sans-serif;
    text-shadow: 0px -1px 15px rgba(255, 255, 255, 1);
}

.nablafont{
    font-family: 'Nabla';
}

.modal-content{
    background-color: #333;
    border-radius: 22px;
    border: 2px solid black;
    box-shadow: -4px 10px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 14px #222;
    color: white;
}

.card{
    max-height: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: none !important;
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card.notflipped:hover{
    background-color: #333;
    filter: brightness(85%);
}

.flip-card {
    /* width: auto; */
    height: auto;
    perspective: 1000px;
    transition: transform 0.6s ease-in-out;
    cursor: pointer; /* Make the card clickable */
    border: none !important;
    border-radius: 15px;
    overflow: hidden;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border: none;
}

.card-front,
.card-back {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border: none;
}

.card-inner.flipped {
    transform: rotateY(180deg);
}

.card-back {
    transform: rotateY(180deg); /* Initially hide back side */
    position: absolute;
    filter: brightness(110%);
}

.darken-image{
    filter: brightness(85%) blur(1px);
    /* filter: ; */
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
}

.form-control{
    font-size: 30px;
    font-weight: 700;
}

.show{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#initial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* margin: 0; */
}

/* Style to make the play button visually appealing */
.play-button {
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ff000d; /* Bootstrap primary color */
    color: #fff;
    cursor: pointer;
}

#play-img{
    width: 50px;
}

.justify-content-lg-start {
    justify-content: space-between !important;
}

.fade{
    display: none !important;
}

.fade.show{
    display: flex !important;
}

.deck{
    margin: 20px auto 75px auto ;
    padding: 10px;
    background-color: #333;
    border-radius: 22px;
    border: 2px solid black;
    box-shadow: -4px 10px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 14px #222;
}

.maindeck{
    background: rgb(174,117,238);
    background: radial-gradient(circle, rgba(174,117,238,1) 0%, rgba(67,67,122,1) 72%, rgba(106,53,162,1) 100%);
}

.bg-dark{
    border: 2px solid black;
    background-color: #333;
    box-shadow: -4px 10px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 14px #222;
}

.rankings{
    margin-bottom: 75px;
}

.easy-deck{
    max-width: 1000px;
}

/* Styles for devices with a screen width of 600 pixels or less (typical for mobile devices) */
@media only screen and (max-width: 990px) {
  
    .p-3{
        padding: .2rem!important;
    }

    .p-4 {
        padding: 0.5rem!important;
    }

    .mb-2{
        margin-bottom: 0px!important;
    }

    .btn-group-lg>.btn, .btn-lg{
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    .container, .container-sm{
        max-width: 100%;
    }

    .col-xs-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-12{
        flex: auto;
        width: auto;
    }

    .mb-3{
        margin-bottom: 0px !important;
    }

    #hideonMobile{
        display: none !important;
    }

    .pmobile{
        padding: 1em;
    }

    .nablafont{
        font-family: Bungee Shade;
        color: yellow !important;
    }

    .table>:not(caption)>*>* {
        padding: 0.2rem !important;
    }
}